{% load static %}
<div style="text-align: center; font-family: arial,serif;">
    <div>
        <img src="{{ top }}" style="width: 100%;">
    </div>
    <div>
        <span style="text-align: center; font-size: 4.5em">{{ name }}</span>
    </div>
    <div>
        <img src="{{ middle }}" style="width: 100%">
    </div>
    <span style="font-size: 3em">{{ course }}</span>
    <div>
        <span style="font-size: 2em">Dated: {{ date }}</span>
    </div>
    <div>
        <img src="{{ bottom }}" style="width: 100%;">
    </div>
</div>