<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551811006786-2g35mj10795k31n0diabj2rrup6lt732.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551811006786-2g35mj10795k31n0diabj2rrup6lt732</string>
	<key>API_KEY</key>
	<string>AIzaSyB_l_1kNhGba9GuSXVABKt2OJw14oD4Qwg</string>
	<key>GCM_SENDER_ID</key>
	<string>551811006786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.onlinecourseappblue-24214</string>
	<key>PROJECT_ID</key>
	<string>onlineblueprint-7c46a</string>
	<key>STORAGE_BUCKET</key>
	<string>onlineblueprint-7c46a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551811006786:ios:ec5f05bdc81b74bde6c8db</string>
</dict>
</plist>